nav, header, .WhoWeAre, .Video, .Team, .Services, .JoinUs, .OurWorks, .CompanyLogos, .Testimonials, .Blog, .Newsletter, .ContactUs, footer {
    width: 1600px;
}

nav {
    background-color: #acd373;
    height: 106px;
    line-height: 106px;
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
    position: relative;
    z-index: 1;
}

nav img {
    vertical-align: middle;
}

nav a {
    font-family: "Source Sans Pro";
    font-weight: bold;
    font-size: 18px;
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 14px;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.ContainerContact {
    width: 570px;
    margin: 0 auto;
}

.right {
    float:right;
}

header {
    height: 700px;
    background-color: #9abd67;
    background-image: url(assets/skyline.png);
    background-repeat: no-repeat;
    background-position: bottom center;
}

header h1 {
    text-align: center;
    padding-top: 230px;
    color: #f7f7f7;
    font-size: 48px;
    font-family: "Source Sans Pro";
    font-weight: "bold";
}

header h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 24px;
    font-family: "DroidSerif";
    font-style: italic;
    color: #f7f7f7;
}

header a {
    text-align:center;
    margin-top: 132px;
    display: block;
}

.WhoWeAre {
    background-image: url(assets/iphone.png);
    background-repeat: no-repeat;
    background-position: 75% 50%;
    background-color: #f7f7f7;
    /*margin-right: 200px;
    margin-left: 100px;*/
    height: 575px;
    color: #454545;
    font-size: 18px;
    font-family: "Source Sans Pro";    
}

.WhoWeAre p {
    width: 60%;
    line-height: 20px;
}

.WhoWeAre h3 {
    color: #454545;
    font-size: 30px;
    font-family: "Source Sans Pro";
    text-transform: uppercase;
    display: inline;
    margin-left: 25px;
}

h4 {
    font-family: "DroidSerif";
    font-size: 18px;
    color: #454545;
    text-align: center;
    margin: auto;
}

.WhoWeAre img {
    margin-top: 137px;
    display: inline-block;
}

.GreenLink {
    margin-top: 46px;
    border: 1px solid #acd373;
    font-family: "DroidSerif";
    font-style: italic;
    font-size: 18px;
    color: #acd373;
    text-align: center;
    line-height: 40px;
    width: 141px;
    height: 40px;
    display: block;
    text-decoration: none;
}

.Video {
    background-image: url(assets/video-background.jpg);
    background-repeat: no-repeat;
    height: 521px;
}

.Video img {
    padding-top: 190px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Services, .OurWorks, .Blog {
    height: 734px;
    background-image: url(assets/seperator.png);
    background-repeat: no-repeat;
    background-position: 50% 176px;
    background-color: #f7f7f7;
}

.Services ul {
    margin-top:95px;
}

.Services p {
    font-family: "Source Sans Pro";
    font-size: 18px;
    color: #454545;
    text-align: left;
}

.Services p span {
    font-family: "Source Sans Pro";
    font-weight: bold;
    font-size: 20px;
    color: #acd373;
    text-transform: uppercase;
}

.Services img, li div {
    display: inline-block;
    vertical-align: top;
}

.Services li {
    display: inline-block;
    width: 33%;
    height: 165px;
}

.Services li div {
    height: 83px;
    width: 295px;
    margin-left: 14px;
    margin-bottom: 82px;
}

.Services h3 {
    color: #454545;
    font-size: 30px;
    font-family: "Source Sans Pro";
    text-transform: uppercase;
    text-align: center;
    padding-top: 99px;
    margin-bottom: 12px;
}

.Services h3 span {
    color: #acd373;
}

.Services a, .OurWorks a {
    position: relative;
    left: 43%;
    margin-top: 0px;
}

.Team, .ContactUs {
    height: 654px;
    background-image: url(assets/seperator-white.png);
    background-repeat: no-repeat;
    background-position: 50% 178px;
    background-color: #acd373;
}

.Team h3, .ContactUs h3 {
    color: #f7f7f7;
    font-size: 30px;
    font-family: "Source Sans Pro";
    text-transform: uppercase;
    text-align: center;
    padding-top: 101px;
}

.Team h4 {
    font-family: "DroidSerif";
    font-size: 18px;
    color: #f7f7f7;
    text-align: center;
    margin: auto;
    margin-bottom: 141px;
    margin-top: 17px;
}

.Team p {
    font-family: "DroidSerif";
    font-style: italic;
    font-size: 16px;
    color: #787878;
    text-align: center;
    margin-top: 21px;
}

.Team p span {
    font-family: "Source Sans Pro";
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    font-size: 20px;
    color: #acd373;
    text-align: center;
    margin-top: 27px;
}

.Team .container 

.TeamMates li > img {
    margin-top: -70px;
}

.TeamMates li {
    background: #f7f7f7;
    text-align: center;
    width: 270px;
    height: 247px;
    display: inline-block;
    position: relative;
    border-radius: 3px;
    margin-left: 15px;
}

.TeamMates li div {
    height: 70px;
    background: #ebebeb;
    line-height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.TeamMates a {
    margin-right: 5px;
}

.JoinUs {
    background-color: #9abd67;
    height: 110px;
    font-family: "Source Sans Pro";
    font-size: 18px;
    color: #f7f7f7;
}

.JoinUs p {
    padding-left: 35%;
    padding-top: 47px;
}

.WhiteLink {
    border: 1px solid #f2f2f2;
    font-family: "DroidSerif";
    font-style: italic;
    font-size: 18px;
    color: #f2f2f2;
    text-align: center;
    line-height: 40px;
    width: 141px;
    height: 40px;
    display: inline-block;
    text-decoration: none;
    position: relative;
    left: 50%;
    bottom: 30px;
}

.OurWorks {
    background-color: #f7f7f7;
    height: 1040px
}

.OurWorks, .Blog h3 {
    color: #454545;
    font-size: 30px;
    font-family: "Source Sans Pro";
    text-transform: uppercase;
    text-align: center;
    padding-top: 99px; 
}

.OurWorks h3 span {
    color: #acd373;
}

.OurWorks h4 {
    margin-bottom: 100px;
    margin-top: 20px;
    text-transform: none;
}

.OurWorks p {
    color: #787878;
    font-family: "DroidSerif";
    font-style: italic;
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
}

.OurWorks p span {
    color: #454545;
    font-family: "Source San Pro";
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
}

.OurWorks a {
    width: 190px;
    margin-top: 60px;
}

.CHUCK, .SEO, .LETOY, .SCREENR, .KOKI {
    background-color: #ebebeb;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.CHUCK, .SEO {
    width: 570px;
    height: 370px;
}

.LETOY, .SCREENR, .KOKI {
    width: 370px;
    height: 300px;
}

.CompanyLogos ul {
    background-color: #ebebeb;
    height: 119px;
    line-height: 119px;
}

.CompanyLogos li {
    display: inline-block;
    margin-left: 50px;
}

.CompanyLogos li img {
    vertical-align: middle;
}

.Testimonials {
    background-image: url("assets/testomonials-background.jpg");
    background-repeat: no-repeat;
    height: 550px;
    color: #f7f7f7;
    font-family: "Source Sans Pro";
    line-height: 22px;
}

.TestimonialIntro, .TestimonialQuotes {
    display: inline-block;
    padding-top: 120px;
    vertical-align: top;
}

.TestimonialQuotes div {
    display: inline-block;
    vertical-align: middle;
}

.TestimonialQuotes img:nth-of-type(1) {
    display: block;
    margin-bottom: 17px;
}

.TestimonialQuotes img, {
    display: inline-block;
    margin-right: 28px;
}

.TestimonialQuotes p {
    font-family: "DroidSerif"; 
    font-style: italic;
    font-size: 18px;
    margin-left: 28px;
}

.TestimonialQuotes p span {
    font-family: "Source Sans Pro";
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    color: #acd373;
    margin-bottom: 15px;
}

.TestimonialIntro {
    width: 300px;
    margin-right: 70px;
}

.TestimonialIntro h3 {
    font-family: "Source Sans Pro";
    text-transform: uppercase;
    font-size: 30px;
    color: #f7f7f7;
    padding-top: 9px;
    margin-bottom: 41px;
}

.TestimonialIntro a {
    width: 200px;
}

blockquote {
    font-family: "DroidSerif";
    font-size: 16px;
    color: #f7f7f7;
    background-image: url(assets/quote-icon.png);
    background-repeat: no-repeat;
    background-position: 311px 85px;
    border: 1px solid #f7f7f7;
    width: 321px;
    height: 96px;
    padding-top: 25px;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: 25px;
}

.Blog {
    height: 690px;
    background-position: 50% 190px;
}

.Blog h3 {
    padding-top: 113px;
    margin-bottom: 15px;
}

.Blog ul {
    padding-top: 87px;
}

.Blog li p {
    font-family: "Source Sans Pro";
    font-weight: 300;
    font-size: 18px;
    color: #454545;
    padding-top: 215px;
    text-align: center;
}

.Blog li {
    display: inline-block;
    vertical-align: top;
    width: 270px;
    height: 335px;
    margin-right: 15px;
    position: relative;
}

.Blog li:nth-of-type(1) {
    background-image: url(assets/web-design-fundamentals-all.jpg);
    background-repeat: no-repeat;
}

.Blog li:nth-of-type(2) {
    background-image: url(assets/native-app-all.jpg);
    background-repeat: no-repeat;
}

.Blog li:nth-of-type(3) {
    background-image: url(assets/ux-ui-all.jpg);
    background-repeat: no-repeat;
}

.Blog li:nth-of-type(4) {
    background-image: url(assets/gogle-adsense-all.jpg);
    background-repeat: no-repeat;
}

.Blog a {
    width: 268px;
    height: 50px;
    background-color: #acd373;
    font-family: "DroidSerif";
    font-style: italic;
    color: #f7f7f7;
    border: 1px solid #acd373;
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 50px;
    position: absolute;
    bottom: 0;
}

.Newsletter {
    background-color: #acd373;
    height: 110px;
    font-family: "Source Sans Pro";
    font-size: 18px;
    color: #f7f7f7;
}

.Newsletter p {
    position: relative;
    left: 30%;
    line-height: 110px;
    display: inline-block;
}

.Newsletter form {
    display: inline-block;
    position: relative; 
    left: 35%;
    line-height: 110px;
}

.Newsletter input[type=text] {
    background-color: #acd373;
    width: 180px;
    height: 37px;
    color: #f7f7f7;
    font-style: italic;
    text-align: center;
    font-family: "DroidSerif";
    font-size: 14px;
    border: 1px solid #f7f7f7;
}

/*PLACEHOLDER TEXT*/
.Newsletter input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #f7f7f7;
    font-style: italic;
    text-align: center;
    font-family: "DroidSerif";
    font-size: 14px;
}

.Newsletter input[type=text]::-moz-placeholder { /* Firefox 19+ */
    color: #f7f7f7;
    font-style: italic;
    text-align: center;
    font-family: "DroidSerif";
    font-size: 14px;
}
.Newsletter input[type=text]:-ms-input-placeholder { /* IE 10+ */
    color: #f7f7f7;
    font-style: italic;
    text-align: center;
    font-family: "DroidSerif";
    font-size: 14px;
}
.Newsletter input[type=text]:-moz-placeholder { /* Firefox 18- */
    color: #f7f7f7;
    font-style: italic;
    text-align: center;
    font-family: "DroidSerif";
    font-size: 14px;
}

.Newsletter img {
    vertical-align: middle;
}

.ContactUs {
    background-color: #acd373;
    height: 820px;
    font-family: "Source Sans Pro";
    font-size: 18px;
    color: #f7f7f7;
    background-position: 50% 140px;
}

.ContactUs p {
    margin-bottom: 38px;
}

.ContactUs button {
    font-family: "DroidSerif";
    font-style: italic;
    font-size: 18px;
    color: #f7f7f7;
    width: 110px;
    height: 40px;
    background-color: #9abd67;
    border: none;
    margin-top: 10px;
    position: relative;
    left: 460px;
}

.ContactUs form {
    padding-top: 68px;
}

.ContactUs input[type=text], textarea {
    background-color: #9abd67;
    width: 550px;
    height: 40px;
    color: #f7f7f7;
    border: none;
    margin-top: 18px;
    font-family: "DroidSerif";
    font-style: italic;
    font-size: 15px;
    padding-left: 20px;
}

.ContactUs input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #f7f7f7;
    font-style: italic;
    font-family: "DroidSerif";
    font-size: 15px;
    
}

.ContactUs input[type=text]::-moz-placeholder { /* Firefox 19+ */
    color: #f7f7f7;
    font-style: italic;
    font-family: "DroidSerif";
    font-size: 15px;
}

.ContactUs input[type=text]:-ms-input-placeholder { /* IE 10+ */
    color: #f7f7f7;
    font-style: italic;
    font-family: "DroidSerif";
    font-size: 15px;
}

.ContactUs input[type=text]:-moz-placeholder { /* Firefox 18- */
    color: #f7f7f7;
    font-style: italic;
    font-family: "DroidSerif";
    font-size: 15px;
}

.ContactUs textarea {
    background-image: url(assets/drag-icon.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 530px;
    height: 157px;
    padding: 20px;
    line-height: 24px;
}

footer {
    background-color: #9abd67;
    height: 100px;
    font-family: "Source Sans Pro";
    font-size: 18px;
    color: #f7f7f7;
    display: inline-block;
}

footer p {
    line-height: 100px;
}

footer ul {
    position: relative;
    display: inline-block;
    left: 70%;
    bottom: 70px;
}

footer li {
    display: inline;
    margin-right: 5px;
}