nav {
    background-color: #acd373;
    height: 106px;
    line-height: 106px;
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
}

nav img {
    vertical-align: middle;
}

nav a {
    font-family: "Source Sans Pro";
    font-weight: bold;
    font-size: 18px;
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 14px;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.right {
    float:right;
}

header {
    height: 700px;
    background-color: #9abd67;
    background-image: url(assets/skyline.png);
    background-repeat: no-repeat;
    background-position: bottom center;
}

header h1 {
    text-align: center;
    padding-top: 230px;
    color: #f7f7f7;
    font-size: 48px;
    font-family: "Source Sans Pro";
    font-weight: "bold";
}

header h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 24px;
    font-family: "DroidSerif";
    font-style: italic;
    color: #f7f7f7;
}

header a {
    text-align:center;
    margin-top: 132px;
    display: block;
}

.WhoWeAre {
    background-image: url(assets/iphone.png);
    background-repeat: no-repeat;
    background-position: center right;
    margin-right: 200px;
    margin-left: 100px;
    height: 575px;
    color: #454545;
    font-size: 18px;
    font-family: "Source Sans Pro";    
}

.WhoWeAre p {
    width: 60%;
    line-height: 20px;
}

.WhoWeAre h3 {
    color: #454545;
    font-size: 30px;
    font-family: "Source Sans Pro";
    text-transform: uppercase;
    display: inline;
    margin-left: 25px;
}

h4 {
    font-family: "DroidSerif";
    font-size: 18px;
    color: #454545;
    text-align: center;
    margin: auto;
}

.WhoWeAre img {
    margin-top: 137px;
    display: inline-block;
}

.GreenLink {
    margin-top: 46px;
    border: 1px solid #acd373;
    font-family: "DroidSerif";
    font-style: italic;
    font-size: 18px;
    color: #acd373;
    text-align: center;
    line-height: 40px;
    width: 141px;
    height: 40px;
    display: block;
    text-decoration: none;
}

.Video {
    background-image: url(assets/video-background.jpg);
    background-repeat: no-repeat;
    height: 521px;
}

.Video img {
    padding-top: 190px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Services, .OurWorks {
    height: 734px;
    background-image: url(assets/seperator.png);
    background-repeat: no-repeat;
    background-position: 50% 15%;
    background-color: #f7f7f7;
}

.Services ul {
    margin-top:95px;
}

.Services p {
    font-family: "Source Sans Pro";
    font-size: 18px;
    color: #454545;
    text-align: left;
}

.Services p span {
    font-family: "Source Sans Pro";
    font-weight: bold;
    font-size: 20px;
    color: #acd373;
    text-transform: uppercase;
}

.Services img, li div {
    display: inline-block;
    vertical-align: top;
}

.Services li {
    display: inline-block;
    width: 33%;
    height: 165px;
}

.Services li div {
    height: 83px;
    width: 295px;
    margin-left: 14px;
    margin-bottom: 82px;
}

.Services h3 {
    color: #454545;
    font-size: 30px;
    font-family: "Source Sans Pro";
    text-transform: uppercase;
    text-align: center;
    padding-top: 99px;
}

.Services h3 span {
    color: #acd373;
}

.Services a, .OurWorks a {
    position: relative;
    left: 43%;
}

.Team {
    height: 654px;
    background-image: url(assets/seperator-white.png);
    background-repeat: no-repeat;
    background-position: 50% 35%;
    background-color: #acd373;
}

.Team h3 {
    color: #f7f7f7;
    font-size: 30px;
    font-family: "Source Sans Pro";
    text-transform: uppercase;
    text-align: center;
    padding-top: 101px;
}

.Team h4 {
    font-family: "DroidSerif";
    font-size: 18px;
    color: #f7f7f7;
    text-align: center;
    margin: auto;
    margin-bottom: 141px;
    margin-top: 22px;
}

.Team ul {
    background-color: #ebebeb;
    height: 70px;
    width: 270px;
}

.Team li {
    display: inline;
    margin-left: 5px;
    line-height: 85px;
    position: relative;
    left: 20%;
}

.Team p {
    font-family: "DroidSerif";
    font-style: italic;
    font-size: 16px;
    color: #787878;
    text-align: center;
    margin-top: 21px;
}

.Team p span {
    font-family: "Source Sans Pro";
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    font-size: 20px;
    color: #acd373;
    text-align: center;
    margin-top: 27px;
}

.TeamPic {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-top: -30%;
    margin-left: 60px;
}

.TeamMates div {
    display: inline-block;
    background-color: #f7f7f7;
    width: 270px;
    height: 178px;
}

.JoinUs {
    background-color: #9abd67;
    height: 110px;
    font-family: "Source Sans Pro";
    font-size: 18px;
    color: #f7f7f7;
}

.JoinUs p {
    padding-left: 563px;
    padding-top: 47px;
}

.WhiteLink {
    margin-top: 46px;
    border: 1px solid #f2f2f2;
    font-family: "DroidSerif";
    font-style: italic;
    font-size: 18px;
    color: #f2f2f2;
    text-align: center;
    line-height: 40px;
    width: 141px;
    height: 40px;
    display: block;
    text-decoration: none;
}

.OurWorks {
    background-color: #f7f7f7;
    height: 1148px
}

.OurWorks h3 {
    color: #454545;
    font-size: 30px;
    font-family: "Source Sans Pro";
    text-transform: uppercase;
    text-align: center;
    padding-top: 99px; 
}

.OurWorks h3 span {
    color: #acd373;
}

.OurWorks h4 {
    margin-bottom: 100px;
    margin-top: 20px;
}

.OurWorks p {
    color: #787878;
    font-family: "DroidSerif";
    font-style: italic;
    font-size; 16px;
    text-align: center;
    padding-top: 15px;
}

.OurWorks p span {
    color: #454545;
    font-family: "Source San Pro";
    font-weight: bold;
    font-style: normal;
    font-size; 18px;
}

.CHUCK, .SEO, .LETOY, .SCREENR, .KOKI {
    background-color: #ebebeb;
    display: inline-block;
    margin-right: 13px;
    margin-bottom: 13px;
}

.CHUCK, .SEO {
    width: 570px;
    height: 370px;
}

.LETOY, .SCREENR, .KOKI {
    width: 370px;
    height: 300px;
}

.CompanyLogos ul {
    background-color: #ebebeb;
    height: 119px;
    line-height: 119px;
}

.CompanyLogos li {
    display: inline-block;
    margin-left: 20px;
}

.CompanyLogos li img {
    vertical-align: middle;
}

.Testimonials {
    background-image: url("assets/testomonials-background.jpg");
    background-repeat: no-repeat;
    height: 550px;
    color: #f7f7f7;
}

footer {
    background-color: #9abd67;
    height: 100px;
    font-family: "Source Sans Pro";
    font-size: 18px;
    color: #f7f7f7;
}

footer li {
    display: inline;
    float: right;
    margin-right: 5px;
}